@import url("http://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
    margin: 0%;
    padding: 0%;
}

.titulo {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Patrick Hand', cursive;
}
img{
    border-radius: 10px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;

}

/* pagina inicio */
.button {
    background-color: rgb(5, 230, 211);
    font-weight: 900;
    color: rgb(255, 255, 255);
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 70px;
    width: 200px;
    border-radius: 500px;
    margin: 40px;
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20%;}

a {
    color: rgb(46, 125, 50);
    text-decoration: none;
}

a:hover {
    color: rgb(76, 175, 80);
}

/* pagina livro */
.navegacao {
    background-color: rgb(5, 230, 211);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 40px;
    gap: 20px;
    text-align: center;
}

body {
    background-color: #08c0e0;
}

.livro {
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
}

.texto_livro {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.visoes_livro {
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
}

.dados_livro {
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    border-radius: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

/* filme */

.filme {
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
}

.sobre_filme {
    color: rgb(0, 0, 0);
    border-radius: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

.texto_filme {
    display: inline-block;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    color: black;
}

.elenco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 30px;
    height: 400px;
    margin: 50px;
}
.texto_elenco{
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 50px;
    color: black;
}

/* mensagens */
.mensagens{
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
    color: white;
}
.texto_preceitos{
    margin: 10px;
    font-family: 'Patrick Hand', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 30px;
    color: rgb(0, 0, 0);
    padding: 20px;
    background-color: white;
    border-radius: 50px;
}



/*footer*/
.contatos, h3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    gap: 20px;
}
.navegacao_footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 50px;
    list-style-type: none;
    margin: 0px;
    padding: 40px;
    gap: 20px;
    text-align: center;
}
footer ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    flex-direction:row;
    gap: 20px;
}
footer p {
    display: flex;
    flex-direction: column;
}

footer{
    background-color: rgb(5, 230, 211);
    margin-top: 5%;
}
#footer_filme{
    margin-top: 55%;
}

#footer_mensagem{
    margin-top: 5%;
}
#footer-temp{
    margin-top: 5%;
}

#footer-sobre{
    margin-top: 5%;
}